.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}

.hrLine {
  width: 70vw;
  height: 1px;
  background-color: black;
  margin: 2% 0 0 0;
}

.hrLine[data-isbeingsearch=true] {
  display: none;
}

.hrLine[data-isbeingsearch=false] {
  display: block;
}

.holder {
  width: 100%;
  height: 6vh;
}

@media only screen and (max-width: 1001px) {

  .container {
      height: auto;
  }

  .hrLine {
    width: 90vw;
  }

}