.container {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 8px;
}

.searchField {
    margin: 0 8px 0 0;
    padding: 5px 10px 5px 10px;
    outline: none;
}

.searchField:focus {
    border: 3px solid rgb(72, 158, 228);
}

.submitBtn {
    padding: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 1001px) {
    
    .container {
        display: flex;
    }

}