.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

.header {
    margin: 6vh 0 0 0;
    width: 80vw;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid black;

    h1 {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        font-size: 2.5rem;
        font-weight: 800;
    }
}

@media only screen and (max-width: 1021px) {

    .header {
        width: 95%;
    }

}